/* Reseting the default margin and padding of html elements */
* {
    margin: 0;
    padding: 0;
    /*width and height include content,padding and border */
    box-sizing: border-box;
}


/*setting the background color of navigation bar */
nav {
    background-color: #090b0b;
}
/* Style the navbar-left container to float to the left */
.nav_left a {
    float: left;
    margin-right: 580px;
    text-decoration: none;
    padding: 5px 0px;
}

/* Style the navbar-right container to float to the right */
.navbar_right a {
    float: right;
    margin-right: 100px;
}


/* Style for the navigation list */
.nav-list {
    /*removing the bullet point of the html elements that usually occurs*/
    list-style: none;
    /*by this line list items of nav-list becomes flex items*/
    display: flex;
    /*aligning the content to the left of the screen*/
    justify-content: flex-start;
    align-items: start;
    /* the space above and below the list elements*/
    padding: 1px 0;
    /*removes any browser added margin*/
    margin: 0;
}

/* navigation links */
.nav-list li a {
    /*removing the default underline*/
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

/* Change link color on hover */
.nav-list li a:hover {
    color: #be4ae8;
}

/* Style for navigation list items */
.nav-list li {
    position: relative;
    margin: 0 15px;
}
.blog-options {
    display:  none;
    position: absolute;
    top: calc(100% + 5px);
    left:0;
    background-color: #49a7e0;
    border-radius: 5px;
    padding: 7px 0;
    width: 110px;
    text-align:center;
    z-index:1;
}
.blogs-li:hover .blog-options {
    display:flex;
    flex-direction: column;/*stack the three blog options vertically */
}

/* Style for contact options */
.contact-options {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #49a7e0;
    border-radius: 5px;
    padding: 5px 0;
    width: 100px;
    text-align: center;
    /*means the options will be on top when hovered over*/
    z-index: 1;
}

/* Show contact options on hover */
.contact-li:hover .contact-options {
    display: flex;
    flex-direction: column; /* Stack the options vertically */
}


/* Style for the contact option separator */
.option-separator {
    margin: 5px 0; /* Add some spacing above and below the separator */
    border: none;
    border-top: 1px solid #bbbec4; /* Add a 1px solid line */
}

/*adjusting for viewing in mobile screens*/
@media (max-width: 1024px) {
    .nav-list li {
        margin: 0 3px; 
    }

    .contact-options {
        width: 80px; 
    }
    .blog-options {
        width: 100px;
    }
}

